<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Editar Servicio <%= service.name %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/spa.css">
    <link rel="stylesheet" href="/css/productAddcss.css">
</head>
<body>
<%- include('../partials/headerNav') %>
<div class="alto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>Editar servicio "<%= service.name %>"</h2>
    </div>
    <form id='productEditForm' action='/products/productEdit/<%= service.id %>?_method=PUT' method='POST' enctype= 'multipart/form-data'>
        <div class="container ancho">
            <div class="row">
                <div class="col-12">
                    <label for='name'>Nombre del Servicio:</label>
                    <input type='text' name='name' data-name='Nombre' value="<%= service.name %>" class="form-control" placeholder="Título">
                    <div class="invalid-feedback">
                    </div>
                    <br>
                    <br>
                </div>
                <div class="col-12">
                    <label for='category'>Categoría:</label>
                    <select name='categoryId' data-name='Categoría' class="form-control">
                        <option value=<%= service.categoryId %>><%=service.category.name%></option>
                        <% categories.forEach(category => { %>
                            <option value=<%= category.id %>><%= category.name %></option>
                        <% }) %>
                    </select>
                    <div class="invalid-feedback"></div>
                    <br>
                    <br>
                </div>
                <div class="col-12" id="textsize">
                    <label for='description'>Descripción:</label>
                    <textarea type="text" class="form-control" placeholder="Descripción" id='' name='description' data-name='Descripción'
                              cols=“30 rows=“10><%=service.description %></textarea>
                    <div class="invalid-feedback"></div>
                    <br>
                    <br>
                </div>
                <div class="col-12" id="textsize">
                    <label for='summary'>Resumen:</label>
                    <textarea type="text" class="form-control" placeholder="Resumen del service" id=“”
                              name='summary' data-name='Resumen' cols=“30 rows=“10><%= service.summary %></textarea>
                    <div class="invalid-feedback"></div>
                    <br>
                </div>
                <div class="col-6">
                    <label for='duration'>Duración:</label>
                    <input type="number" min="0" name='duration' data-name='Duración' class="form-control" placeholder="Duración" value=<%= service.duration %>>
                    <div class="invalid-feedback"></div>
                    <br>
                </div>
                <div class="col-6">
                    <label for='price'>Precio:</label>
                    <input type="number" class="form-control" placeholder="Precio" name='price' data-name='Precio' value=<%= service.price %>>
                    <div class="invalid-feedback"></div>
                    <br>
                    <br>
                </div>
                <div class="col-12">
                    <img src=<%= service.photo %> width='30%' heigth='30%'>
                </div>
                <div class="col-12">
                    <label for='photo'>Reemplazar Foto:</label>
                    <br>
                    <input type="file" name='photo' data-name='foto'>
                    <br><br><br>
                </div>
                <div class="col-12">
                    <button class="btn btn-info boton" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src='https://code.jquery.com/jquery-3.4.1.slim.min.js'
integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n'
crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'
integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo'
crossorigin='anonymous'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'
integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6'
crossorigin='anonymous'></script>

<script src='/js/validator.min.js'></script>
<script src='/js/productEditFrontValidation.js'></script>

<!--Footer-->
<%- include('../partials/footer')%>
</body>