<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Agregar Producto</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='/css/fontawesome-all.css'>
    <link rel='stylesheet' href='/css/spa.css'>
    <link rel='stylesheet' href='/css/productAddcss.css'>
</head>

<body id='productAdd'>
    <%- include('../partials/headerNav') %>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <h1>Nuevo Servicio</h1>
    </div>

    <form id='productAddForm' action='/products/productAdd' method='POST' enctype='multipart/form-data'>
        <div class='container ancho'>
            <div class='row'>
                <div class='col-12'>
                    <label for='name'>Nombre del Servicio:</label>
                    <input type='text' id='name' name='name' data-name='name' class='form-control'>
                    <br>
                </div>
                <div class='col-12'>
                    <label for='category'>Categoría:</label>
                    <select id='categoryId' name='categoryId' data-name='categoryId' class='form-control'>
                        <option value=''>Elige una opción</option>
                        <% categories.forEach(category => { %>
                        <option value=<%= category.id %>><%= category.name %></option>
                        <% }) %>
                    </select>
                    <br>
                    <br>
                </div>
                <div class='col-12' id='textsize'>
                    <label for='description'>Descripción:</label>
                    <textarea type='text' id='description' name='description' data-name='description' cols='30'
                        rows='10' class='form-control'
                        value=<%= typeof oldData != 'undefined' ? oldData.descripción : null %>>
                    </textarea>
                </div>
                <div class='col-12' id='textsize'>
                    <label for='summary'>Resumen:</label>
                    <textarea type='text' id='summary' name='summary' data-name='summary' cols='30' rows='10'
                        class='form-control' value=<%= typeof oldData != 'undefined' ? oldData.summary : null %>>
                </textarea>
                    <br>
                </div>

                <div class='col-6'>
                    <label for='duration'>Duración:</label>
                    <input type='number' min='40' id='duration' name='duration' data-name='duration'
                        class='form-control' value=<%= typeof oldData != 'undefined' ? oldData.duration : null %>>
                    <br>
                </div>
                <div class='col-6'>
                    <label for='price'>Precio:</label>
                    <input type='number' id='price' name='price' data-name='price' class='form-control'
                        value=<%= typeof oldData != 'undefined' ? oldData.price : null %>>
                    <br>
                </div>
                <div class='custom-file'>
                    <input type='file' name='photo' data-name='photo' class='custom-file-input' id='validatedCustomFile'
                        required>
                    <label class='custom-file-label' for='validatedCustomFile'>Seleccionar foto del servicio</label>
                </div>
                <div class='col-6'>
                    <button class='btn btn-info boton' type='submit'>Guardar</button>
                </div>
                <div class='col-6'>
                    <button class='btn btn-danger boton' type='reset'>Reset</button>
                </div>
            </div>
            <!-- CARGA DE INFORMACIÓN DE CALENDARIO
        <div class='row'>
            <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
                <div class='row'>
                    <div class='col-2'>
                        <img src='images/user-2.svg' width='30px'>
                    </div>
                    <div class='col-10'>
                        <input type='text' class='form-control is-invalid' placeholder='Nombre'>
                        <div class='invalid-feedback'>
                            Por favor ingrese un nombre válido
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-2'>
                        <img src='images/user-2.svg' width='30px'>
                    </div>
                    <div class='col-10'>
                        <input type='text' class='form-control is-invalid' placeholder='Nombre'>
                        <div class='invalid-feedback'>
                            Por favor ingrese un nombre válido
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-2'>
                        <img src='images/user-2.svg' width='30px'>
                    </div>
                    <div class='col-10'>
                        <input type='text' class='form-control is-invalid' placeholder='Nombre'>
                        <div class='invalid-feedback'>
                            Por favor ingrese un nombre válido
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 defaultCheck1'>
                <div class='row'>
                    <div class='col-4 defaultCheck1'>
                        <h6>Días</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6>Cant. turnos</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6>Primer turno</h6>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4 defaultCheck1'>
                        <div class='form-check'>
                            <input class='form-check-input defaultCheck1' type='checkbox'>
                            <label class='form-check-label' for='defaultCheck1'>
                                Lun
                            </label>
                        </div>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>4  ▾</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>11:00  ▾</h6>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4 defaultCheck1'>
                        <div class='form-check'>
                            <input class='form-check-input defaultCheck1' type='checkbox'>
                            <label class='form-check-label' for='defaultCheck1'>
                                Mar
                            </label>
                        </div>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>0  ▾</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>00:00  ▾</h6>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4 defaultCheck1'>
                        <div class='form-check'>
                            <input class='form-check-input defaultCheck1' type='checkbox'>
                            <label class='form-check-label' for='defaultCheck1'>
                                Mie
                            </label>
                        </div>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>5  ▾</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>10:00  ▾</h6>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4 defaultCheck1'>
                        <div class='form-check'>
                            <input class='form-check-input defaultCheck1' type='checkbox'>
                            <label class='form-check-label' for='defaultCheck1'>
                                Jue
                            </label>
                        </div>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>7  ▾</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>12:00  ▾</h6>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4 defaultCheck1'>
                        <div class='form-check'>
                            <input class='form-check-input defaultCheck1' type='checkbox'>
                            <label class='form-check-label' for='defaultCheck1'>
                                Vie
                            </label>
                        </div>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>0  ▾</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>00:00  ▾</h6>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4 defaultCheck1'>
                        <div class='form-check'>
                            <input class='form-check-input defaultCheck1' type='checkbox'>
                            <label class='form-check-label' for='defaultCheck1'>
                                Sáb
                            </label>
                        </div>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>10  ▾</h6>
                    </div>
                    <div class='col-4 defaultCheck1'>
                        <h6 id='defaultCheck1'>10:00  ▾</h6>
                    </div>
                </div>
            </div>
        </div>
        -->
        </div>
    </form>

    <script src='https://code.jquery.com/jquery-3.4.1.slim.min.js'
        integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n'
        crossorigin='anonymous'></script>
    <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'
        integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo'
        crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'
        integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6'
        crossorigin='anonymous'></script>

    <script src='/js/validator.min.js'></script>
    <script src='/js/productsFrontValidation.js'></script>

    <!--Footer-->
    <%- include('../partials/footer')%>
</body>

</html>