<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Nirvana SPA</title>

    
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/spa.css">

</head>

    <body>

        <!--Header-->
        <%- include('./partials/headerNav')%>

        <!--LogoClaim and search-->
        <div class='mainContainer'>
            <div class='brandContainer'>
            <div class='logoClaim'>
                <img src='/images/Logotipo color.png'>
                <p>Tratamientos únicos para tu cuerpo y tus sentidos</p>
            </div>
            <div id='searchBarHome'>
            <form action="" method="GET">
                <input type="text" name='homeSearch'>
                <button id='searchIcon' type="submit">
                    <i class="fa fa-search"></i>
                    </button>
            </form>
            </div>
            </div>
        </div>

        <!--Destacados o sugeridos-->

        <div id='mensajeDestacado'>
            <h2>TRATAMIENTOS DESTACADOS</h2>
        </div>

        <!--Listado de productos seleccionados-->

        <div class= 'articleContainer container-fluid'>
            <div class='row'>

            <article class='productoHome col-lg-4 col-md-6 col-12'>
                <a href="productDetail/0">
                    <div class='imgProductHome'>
                        <img src=<%= detalleProductos[6].foto %>>
                    </div>
                    <div class='productDescriptionHome'>
                    <h3><%= detalleProductos[6].nombre %></h3>
                    <p><%= detalleProductos[6].resumen %></p>

                    </div>
                </a>

            </article>

            <article class='productoHome col-lg-4 col-md-6 col-12'>
                <a href="productDetail/0">
                    <div class='imgProductHome'>
                        <img src=<%= detalleProductos[1].foto %>>
                    </div>
                    <div class='productDescriptionHome'>
                    <h3><%= detalleProductos[1].nombre %></h3>
                    <p><%= detalleProductos[1].resumen %></p>

                    </div>
                </a>

            </article>

            <article class='productoHome col-lg-4 col-md-6 col-12'>
                <a href="productDetail/0">
                    <div class='imgProductHome'>
                        <img src=<%= detalleProductos[2].foto %>>
                    </div>
                    <div class='productDescriptionHome'>
                    <h3><%= detalleProductos[2].nombre %></h3>
                    <p><%= detalleProductos[2].resumen %></p>

                    </div>
                </a>

            </article>
        </div>
        <div class='row'>

            <article class='productoHome col-lg-4 col-md-6 col-12'>
                <a href="productDetail/0">
                    <div class='imgProductHome'>
                        <img src=<%= detalleProductos[3].foto %>>
                    </div>
                    <div class='productDescriptionHome'>
                    <h3><%= detalleProductos[3].nombre %></h3>
                    <p><%= detalleProductos[3].resumen %></p>

                    </div>
                </a>

            </article>

            <article class='productoHome col-lg-4 col-md-6 col-12'>
                <a href="productDetail/0">
                    <div class='imgProductHome'>
                        <img src=<%= detalleProductos[4].foto %>>
                    </div>
                    <div class='productDescriptionHome'>
                    <h3><%= detalleProductos[4].nombre %></h3>
                    <p><%= detalleProductos[4].resumen %></p>

                    </div>
                </a>

            </article>

            <article class='productoHome col-lg-4 col-md-6 col-12'>
                <a href="productDetail/0">
                    <div class='imgProductHome'>
                        <img src=<%= detalleProductos[5].foto %>>
                    </div>
                    <div class='productDescriptionHome'>
                    <h3><%= detalleProductos[5].nombre %></h3>
                    <p><%= detalleProductos[5].resumen %></p>

                    </div>
                </a>

            </article>
        </div>
        </div>












    </body>
    
