<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Editar Producto <%= producto.id %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/spa.css">
    <link rel="stylesheet" href="/css/productAddcss.css">
</head>
<body>
<%- include('./partials/headerNav') %>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h1>Editar Servicio</h1>
</div>
    <form action='/products/productEdit/<%= producto.id %>?_method=PUT' method='POST' enctype= 'multipart/form-data'>
        <div class="container ancho">
            <div class="row">
                <div class="col-12">
                    <label for='nombre'>Nombre Servicio:</label>
                    <input type='text' name='nombre' value=<%= producto.nombre %> class="form-control is-invalid" placeholder="Título"><br>
                    <div class="invalid-feedback">
                        Por favor ingrese un texto válido
                    </div>
                    <br>
                    <br>
                </div>
                <!--<div class="col-12">
                    <img src=<%= producto.foto %> width='20%' heigth='20%'>
                </div>-->
                <div class="col-12">
                    <label for='category'>Categoría:</label>
                    <input type=“text” id=“” name='category'  value=<%= producto.category %> class="form-control is-invalid" placeholder="Categoría">
                    <div class="invalid-feedback">
                        Por favor ingrese un texto válido
                    </div>
                    <br>
                    <br>
                </div>
                <div class="col-12" id="textsize">
                    <label for='descripción'>Descripción:</label>
                    <textarea type="text" class="form-control is-invalid" placeholder="Descripción" id=“” name='descripción'
                              cols=“30 rows=“10><%=producto.descripción %></textarea>
                    <div class="invalid-feedback">
                        Por favor ingrese un texto válido
                    </div>
                    <br>
                    <br>
                </div>
                <div class="col-12" id="textsize">
                    <label for='resumen'>Resumen:</label>
                    <textarea type="text" class="form-control is-invalid" placeholder="Resumen del producto" id=“”
                              name='resumen' cols=“30 rows=“10><%= producto.resumen %></textarea>
                    <div class="invalid-feedback">
                        Por favor ingrese un texto válido
                    </div>
                    <br>
                </div>
                <div class="col-6">
                    <label for='duration'>Duración:</label>
                    <input type="number" min="0" name='duration' class="form-control is-invalid" placeholder="Duración" value=<%= producto.duration %>>
                    <div class="invalid-feedback">
                        Por favor ingrese un valor válido
                    </div>
                    <br>
                </div>
                <div class="col-6">
                    <label for='precio'>Precio:</label>
                    <input type="number" class="form-control is-invalid" placeholder="Precio" name='precio' value=<%= producto.precio %>>
                    <div class="invalid-feedback">
                        Por favor ingrese un valor válido
                    </div>
                    <br>
                    <br>
                </div>
                <div class="col-12">
                    <label for='foto'>Reemplazar Foto:</label>
                    <br>
                    <form action="/upload/photo" enctype="multipart/form-data" method="POST">
                        <input type="file" name="foto" accept="image/*"/>
                        <input type="submit" value="Insertar Imagen"/>
                    </form>
                    <br><br><br>
                </div>
                <div class="col-12">
                    <button class="btn btn-info boton" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</body>