<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/spa.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/fontawesome-all.css">
</head>
<body>
<div class="container">
	<div class="col-auto">
		<h1>Aquí va el header</h1>
	</div>
	<div class="col-auto">
		<h1>Servicios</h1>
	</div>
	<% for (let i=0; i < detalleProducto.length; i++){
		actualProduct = detalleProducto[i] %>
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" id="picDetail1">
				<a  href="/productDetail/<%= i %>">
					<img src=<%= actualProduct.foto %> height="200px">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-9 col-xl-9" id="fondo">
				<a  href="/productDetail/<%= i %>">
					<h3 id="textoProd"> <%= actualProduct.nombre %> </h3>
					<p id="textoProd"> <%= actualProduct.descripción %> </p>
					<h5 id="textoProd"> <%= actualProduct.precio %> </h5>
				</a>
			</div>
		</div>
	<% } %>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>