<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De pies a cabeza</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/spa.css">
</head>
<body>
<div class="container">
    <div class="col-auto">
        <h1>Aquí va el header</h1>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" id="picDetail">
            <img src=<%= detalleProducto.foto %> width="100%">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h2 id="textoProd"><%= detalleProducto.nombre %></h2>
            <p id="textoProd"><%= detalleProducto.descripcion %></p>
            <h4 id="textoProd"><%= detalleProducto.precio %></h4>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="/images/calendar-empty-ultrathin-page.svg" width="30px">
                </div>
                <div id="textoProd" class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <p><%= detalleProducto.dia %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="/images/clock.svg" width="30px">
                </div>
                <div id="textoProd" class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <p><%= detalleProducto.hora %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src=<%= detalleProducto.fotoProfesional %> width="30px">
                </div>
                <div id="textoProd" class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <p><%= detalleProducto.nombreProfesional %></p>
                </div>
            </div>
            <div class = col-auto mx-5>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>