<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/spa.css">
    <link rel="stylesheet" href="/css/registercss.css">
</head>

<body>
<%- include('../partials/headerNav')%>
<div class="container alto">
    <form id="register-form" action='/users/login' method="POST">
        <div class="pad">
            <h3>Ingresar</h3>
        </div>
        <div class="pad">
            <h5 class="text-danger">
                <% if (typeof mensaje !== 'undefined') { %>
                    <p><%= mensaje %></p>
                <% } %>
            </h5>
        </div>
        <div class="container-fluid fondo">
            <div class = col-auto>
                <input type="email" name='email' id="inputEmail" placeholder="Email" class="form-control 
                <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                    <%= hasErrorGetMessage('email', errors) ? 'is-invalid' : null %> 
                <% } %>
                "
                value="<%= typeof oldData !== 'undefined' ? oldData.email : null %>" >
                <div class="invalid-feedback">
                    <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                        <%= hasErrorGetMessage('email', errors) ? hasErrorGetMessage('email', errors) : null %>
                    <% } %>
                </div>
            </div>
            <div class = col-auto>
                <input type="password" name='password' id="inputPassword" placeholder="Contraseña" class="form-control 
                <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                    <%= hasErrorGetMessage('password', errors) ? 'is-invalid' : null %> 
                <% } %>
                " >
                <div class="invalid-feedback">
                    <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                        <%= hasErrorGetMessage('password', errors) ? hasErrorGetMessage('password', errors) : null %>
                    <% } %>
                </div>
            </div>
            <br>
            <div class='checkBox'>
                <input type="checkbox" name='remember'> Recordarme
            </div>
            <div class = col-auto mx-5>
                <button type="submit" value="login" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </form>
</div>
<!--Footer-->
<%- include('../partials/footer')%>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>